.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}
.olTileImage.olImageLoadError {
    display: none !important;
}

.olImageLoadError {
    background-image: url('/assets/images/blank.png');
    background-repeat: no-repeat;
}