<br>
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="/assets/products/banner1.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/assets/products/banner2.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/assets/products/banner3.png" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>



<!--<<div class="jumbotron">
    <img class="prod_image" src="/assets/products/banner1.png" width="1000px" />
</div>-->
<br><br>
<div class="row">
  
      

    <div style="height: 360px;cursor: pointer" class="col-sm-4 col-lg-4 col-md-4" >
            <div class="thumbnail" [routerLink]="['/productsDetails']"  [queryParams]="{ id: 1 }" >
                <img class="prod_image" src="/assets/products/MicrosoftXboxONE.jpg" width="300" height="130" />
                <div class="caption">
                    <h4 class="pull-right"><a href="#">Microsoft Xbox ONE 500GB + 3MSC</a></h4>
                    <h4>
                        <a href="#">999,00 zł</a>
                    </h4>

                </div>
                <div class="ratings">
                    <p class="pull-right">31 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
       
    </div>




        <div style="height: 360px;cursor: pointer" class="col-sm-4 col-lg-4 col-md-4" >
            <div class="thumbnail" [routerLink]="['/productsDetails']"  [queryParams]="{ id: 2 }" >
                <img class="prod_image" src="/assets/products/LenovoIdeaPad100.jpg" width="300" height="130" />
                <div class="caption">
                    <h4 class="pull-right"><a href="#">Lenovo IdeaPad 100-15 i3-5005U/4GB/500/</a></h4>
                    <h4>
                        <a href="#">1699,00 zł</a>
                    </h4>

                </div>
                <div class="ratings">
                    <p class="pull-right">31 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
       
    </div>
    <div style="height: 360px;cursor: pointer" class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail" [routerLink]="['/productsDetails']"  [queryParams]="{ id:3 }">
            <img class="prod_image" src="/assets/products/AppleiMaci5.jpg" width="300" height="130" />
            <div class="caption">
                <h4 class="pull-right"><a href="#">Apple iMac i5 2,8GHz/8GB/1000/MacOS X Iris Pro</a></h4>
                <h4>
                    <a href="#">5549,00 zł</a>
                </h4>

            </div>
            <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
</div>